@model IEnumerable<HomelessHackers.Models.Donation>

@{
    ViewBag.Title = "Index";
}

<div id="body">

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <a href="@Url.Action("Index", "Home")" >
                    <img src="@Href("~/Content/homeless-hackers.png")" style="border: none;"/>
                </a>
            </hgroup>
            <hgroup>
                <h3>Donations</h3>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper">
        @using (Html.BeginForm( "Search", "Donations" ))
        {
            <input type="text" name="searchName"/>
            <input type="Submit" name="Search"></input>
        }

        
    </section>
    <section class="content-wrapper main-content clear-fix">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrganizationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { item._id })
                    </td>
                </tr>
            }

        </table>
    </section>
</div>

